@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Montserrat';
      src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('woff2');
    }
  }
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: absolute;
  top: 50%;
  left:50%;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
  .custom-box-shadow {
    @apply shadow-md; /* Start with a base shadow */
    box-shadow:
  1.5px 3.2px 20.5px rgba(0, 0, 0, 0.24),
  3.4px 7.2px 36.1px rgba(0, 0, 0, 0.176),
  5.9px 12.6px 49.4px rgba(0, 0, 0, 0.153),
  9.4px 20px 62.4px rgba(0, 0, 0, 0.136),
  14.5px 30.9px 76.9px rgba(0, 0, 0, 0.118),
  22.6px 48.2px 95.9px rgba(0, 0, 0, 0.097),
  37.5px 80.1px 125.7px rgba(0, 0, 0, 0.07),
  75px 160px 199px rgba(0, 0, 0, 0.038)
;
  }